*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
}
nav{
    position: sticky;
    z-index: 1000;
    padding: 0 5% 0 5%;
}

#navlist{
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-right: 3%;
}

#navlist li{
    list-style-type: none;
}

.toggle{
    display: none;
}

#logo{
    height: 80%;
}
.title{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

