* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: white;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 0 5% 0 5%;
    background-color: black;
}

#navlist {
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-right: 3%;
}

#navlist li {
    list-style-type: none;
}

.navlinks{
    font-size: 1.5rem;
}

.navlinks:hover {
    transition: font-size 0.2s ease;
    text-decoration: underline;
    font-size: 1.6em;
    font-weight: bold;
}

.navlinks::after{
    text-decoration: underline;
    font-weight: bold;
}

.toggle {
    display: none;
}

.title {
    height: 100%;
    flex: 0.6;
    font-size: 2.5rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#presentation {
    height: 100vh;
    padding-top: 10vh;
    background-color: #110F0F;
    display: flex;
    flex-wrap: wrap;
}

#img_div{
    display: flex;
    height: 90vh; 
    flex: 0.75;
    justify-content: center;
    align-items: center;
}

#img_div img{
    width: 70%;
}


.under_text{
    margin-top: 2%;
}

#pres_text_div{
    display: flex;
    flex: 0.5;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
}

#pres_text_div p{
    font-size: 1.3rem;
}

#text_pres_cursus{
    font-weight: bolder;
}

#cv_redirect_link{
    border: 1px solid white;
    padding: 2%;
    background-color: white;
    color: #110F0F;
    font-weight: bold;
    border-radius: 50px;
}
#redirect_text{
    width: 100%;
    text-align: center;
}

#ddl_text{
    text-decoration: underline;
    color: #438EFF;
}

#competences {
    height: 90vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#competences_glass{
    width: 90%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0.6;
    border-radius: 50px;
    filter: blur(2px);
  -webkit-filter: blur(2px);
}

#projets {
    height: 90vh;
}

#exppro{
    height: 90vh;
}

@media (max-width: 1100px) {
    .visiblemenu_active{
        width: 100%;
        padding-top: 1%;
        padding-bottom: 1%;
        border-bottom:1px solid white ;
        border-right: 1px solid white;
        border-left: 1px solid white;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .visiblemenu_hidden{
        visibility:hidden;
    }

    .navlinks{
        font-size: 1.5rem;
    }

    .toggle button{
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }

    #navlist{
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .hamburger_title_div{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .title{
        flex: 1;
        align-items: center;
        justify-content: center;
    }



    .toggle{
        display: block;
    }

    #presentation{
        flex-direction: column-reverse;
    }

    #img_div{
        flex: 0.5;
    }

    #img_div img{
        height: 60%;
    }

    #pres_text_div{
        flex: 0.5;
        margin-bottom: 10%;
    }
    /*.visiblemenu{
        display: none;
    }*/
    /*.visiblemenu{
        position: fixed;
        background-color: black;
        height: 100vh;
        width: 100%;
        flex-direction: column;
    }*/
}