body{
    margin: 0;
    padding: 0;
}
#navbar{
    padding-top: 1%;
    height: 8vh;
    background-color: aqua;
}

#logo{
    margin-left: 15%;
    border-radius: 50%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navlist{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

#navlist li{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlinks{
    text-decoration: none;
    color: black;
}

.navlinks:hover{
    text-decoration: underline;
    font-weight: bolder;
}